# Core Packages
numpy
pandas


# Visualization
matplotlib
seaborn


# Jupyter
notebook

ipywidgets

# Utilities
colorama
pytest
black
streamlit
unstructured
crewai
openai
unstructured
pyowm
tools
loguru

# API
# fastapi
# uvicorn
# pytest-asyncio

# Package specific


